.center {
  position: absolute;
  top: 50%;
  left:50%;
  width: 100%;
  transform: translate(-50%,-50%);
}

.float-right{
  float: right;
}

.padded{
  padding: 1em;
}

.fill-parent{
  display: flex;
  flex-direction: column;
}

.ping-fang{
  font-family: PingFang, serif
}
